.header
	padding 30px 0 18px
	flex 0 0 auto

	&::after
		content ""
		display table
		width 100%

	&__logo
		margin-right 104px
		float left

	&__contacts
		float left

	&__links
		float right
		color #1b4792

	&__contacts
	&__links
		margin-top 36px

	@media (max-width 680px)

		&__logo
			margin-right 0

		&__contacts
			float none
			clear both
			display inline-block
			vertical-align top
			width 100%

		&__links
			margin-top 27px

		&__contacts
			margin-top 42px