.account-info
	margin-top 24px
	margin-bottom 78px
	padding 35px
	font-size 16px
	color #515151
	background #eff2f3

	&__title
		margin 0
		font-size 22px
		line-height 1
		font-weight bold

	&__sum
		margin-top 11px
		font-size 22px

	&_simple
		margin-top 0
		margin-bottom 6px
		padding-left 0
		padding-right 0
		background-color transparent

		@media (max-width 600px)
			padding-top 31px