/**
 * Таблицы с данными
 */

$head-cell
	background #ccc
	font-size 17px
	font-weight bold

.data-table-wrapper
	overflow auto

	&.gutter
		margin-top 35px

.cell-content
	display block

.data-table
	width 100%
	border-collapse collapse

	thead
		font-size 17px
		background #ccc

		th
		td
			@extends $head-cell
			box-sizing border-box

	tr
		&:nth-child(even)
			background-color #fff

	th
	td
		padding 12px 27px
		border 1px solid #ccc
		border-width 0 1px
		text-align left

		&:first-child
			border-left 0

		&:last-child
			border-right 0

	@media (max-width 700px)
		thead
			display none

		tbody
		tr
		th
		td
			display block

		tr
			position relative

			&::before
			&::after
				content ""
				position absolute
				bottom 0
				left 0
				width 150px

			&::before
				top 0
				background #ccc

			&::after
				height 1px
				background #eff2f3

		th
		td
			position relative
			padding 12px
			margin-left 150px
			border 0
			border-bottom 1px solid #ccc

		td
			padding-left 0
			padding-right 0

			.cell-content
				display inline-block
				vertical-align top
				max-width 100%
				padding-left  12px
				padding-right 12px

			&[data-title]::before
				content attr(data-title)
				margin-left -150px
				box-sizing border-box
				display inline-block
				vertical-align top
				@extends $head-cell
				width 150px
				padding 0 12px
				// padding-right 0