@require "controls";
@require "link";
@require "data-table";
@require "pagination";
@require "modal";
@require "socials";
@require "logo";
@require "contacts";
@require "notif";
@require "account-info";
@require "quick-links";
@require "settings-form";
@require "data-toolbar";