.link
	position relative
	color inherit
	text-decoration none

	&::after
		content ""
		position absolute
		left 0
		right 0
		bottom 0
		border-top 1px solid
		opacity .3
		transition .2s

	&:hover::after
		opacity 0


.logout-link
	text-decoration none
	color inherit

	&::before
		content ""
		margin-right 8px
		display inline-block
		vertical-align middle
		width 18px
		height 20px
		background url("../img/logout.png")
