:root
	font: 82.5%/1.4 "Proxima Nova", sans-serif
	text-rendering: optimizeLegibility
	font-smooth: always
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale


.page-title
	margin 41px 0 22px
	font-size 32px
	font-weight bold
	color #515151

	@media (max-width: 600px)
		margin-top 26px
		margin-bottom 0
