doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Новогор-Прикамье | Список страниц
		style.
			html {
				font: 14px/1.4 sans-serif;
			}
	body
		-
			var list = {
				"main.html": "Главная",
				"person-settings.html": "Личные настройки"
			}
		h4 Новогор-Прикамье | Список страниц
		ul
			each item, index in list
				li
					a(href=index, target="_blank") #{item}