extends _shared/layout

block content

	.notif
		.wrapper.notif__body
			button(type="button").notif__close
			.notif__content
				h5.notif__title Вы являетесь должником
				.notif__text Погасите образованную задолжность

	.wrapper

		.account-info
			h5.account-info__title Иванов Иван Иванович Лицевой счет №12121212
			div г. Березники, Псковская ул, 15, кв. 15
			.account-info__sum Ваш баланс на 23.11.16: -1200.00 руб.

		//- ul.quick-links
		//- 	li.quick-links__item
		//- 		a(href="#", title="Единый расчетный центр").quick-link
		//- 			img.quick-link__img(src="img/links/calc-center.png", width="146", height="51", alt="Единый расчетный центр")
		//- 	li.quick-links__item
		//- 		a(href="#", title="Администрация города Перми").quick-link
		//- 			img.quick-link__img(src="img/links/adm.png", width="129", height="60", alt="Администрация города Перми")
		//- 	li.quick-links__item
		//- 		a(href="#", title="Региональная служба по тарифам Пермского края").quick-link
		//- 			img.quick-link__img(src="img/links/reg.png", width="200", height="60", alt="Региональная служба по тарифам Пермского края")
		//- 	li.quick-links__item
		//- 		a(href="#", title="Call-центр главы города Перми").quick-link
		//- 			img.quick-link__img(src="img/links/call.png", width="133", height="60", alt="Call-центр главы города Перми")
