extends _shared/layout

block content

	.wrapper

		h1.page-title Просмотр показаний

		.account-info
			button(type="button").account-info__toggle

			h5.account-info__title Иванов Иван Иванович Лицевой счет №12121212
			div г. Березники, Псковская ул, 15, кв. 15

			.account-info__body
				.date-group
					.date-group__item
						label.date-group__label c
						.date-group__control
							input.text-input.text-input_date(placeholder="01.01.2016")

					.date-group__item
						label.date-group__label по
						.date-group__control
							input.text-input.text-input_date(placeholder="01.01.2016")

					.date-group__item
						label.date-group__label &nbsp;
						.date-group__control
							button(type="button").button.outline-btn Показать

				.data-table-wrapper
					table.data-table
						thead
							tr
								th Счётчик, дата внесения показания
								th Показания
								th Объём
						tbody
							tr
								td(data-title="Счётчик, дата внесения показания")
									div ХВС, ИПУ, Valtec VLF- R-IL 15,  0 8122 777 10
									br
									div 26 июнь 2016
								td(data-title="Показания") 11135
								td(data-title="Объём") 24
							tr
								td(data-title="Счётчик, дата внесения показания")
									div ХВС, ИПУ, Valtec VLF- R-IL 15,  0 8122 777 10
									br
									div 26 июнь 2016
								td(data-title="Показания") 11135
								td(data-title="Объём") 24
							tr
								td(data-title="Счётчик, дата внесения показания")
									div ХВС, ИПУ, Valtec VLF- R-IL 15,  0 8122 777 10
									br
									div 26 июнь 2016
								td(data-title="Показания") 11135
								td(data-title="Объём") 24
							tr
								td(data-title="Счётчик, дата внесения показания")
									div ХВС, ИПУ, Valtec VLF- R-IL 15,  0 8122 777 10
									br
									div 26 июнь 2016
								td(data-title="Показания") 11135
								td(data-title="Объём") 24
							tr
								td(data-title="Счётчик, дата внесения показания")
									div ХВС, ИПУ, Valtec VLF- R-IL 15,  0 8122 777 10
									br
									div 26 июнь 2016
								td(data-title="Показания") 11135
								td(data-title="Объём") 24

				.pagination
					.pagination__label Страница
					.pagination-nav
						a.pagination-nav__link.pagination-nav__link_active(href="#404") 1
						a.pagination-nav__link(href="#404") 2
						a.pagination-nav__link(href="#404") 3
						a.pagination-nav__link(href="#404") 4

		.account-info
			button(type="button").account-info__toggle

			h5.account-info__title Иванов Иван Иванович Лицевой счет №12121212
			div г. Березники, Псковская ул, 15, кв. 15

			.account-info__body
				.date-group
					.date-group__item
						label.date-group__label c
						.date-group__control
							input.text-input.text-input_date(placeholder="01.01.2016")

					.date-group__item
						label.date-group__label по
						.date-group__control
							input.text-input.text-input_date(placeholder="01.01.2016")

					.date-group__item
						label.date-group__label &nbsp;
						.date-group__control
							button(type="button").button.outline-btn Показать

				.data-table-wrapper
					table.data-table
						thead
							tr
								th Счётчик, дата внесения показания
								th Показания
								th Объём
						tbody
							tr
								td(data-title="Счётчик, дата внесения показания")
									div ХВС, ИПУ, Valtec VLF- R-IL 15,  0 8122 777 10
									br
									div 26 июнь 2016
								td(data-title="Показания") 11135
								td(data-title="Объём") 24
							tr
								td(data-title="Счётчик, дата внесения показания")
									div ХВС, ИПУ, Valtec VLF- R-IL 15,  0 8122 777 10
									br
									div 26 июнь 2016
								td(data-title="Показания") 11135
								td(data-title="Объём") 24
							tr
								td(data-title="Счётчик, дата внесения показания")
									div ХВС, ИПУ, Valtec VLF- R-IL 15,  0 8122 777 10
									br
									div 26 июнь 2016
								td(data-title="Показания") 11135
								td(data-title="Объём") 24

				.pagination
					.pagination__label Страница
					.pagination-nav
						a.pagination-nav__link.pagination-nav__link_active(href="#404") 1
						a.pagination-nav__link(href="#404") 2