.footer
	.wrapper
		.footer__inner
			.footer__cell.footer__cell_copy
				| &copy; 2007-2016 Новгор-Прикамье
			.footer__cell.footer__cell_dev
				| Сайт разработан:&nbsp;
				a.link(href="#") Геликон Про
			.footer__cell.footer__cell_sitemap
				a.link(href="#") Карта сайта
			.footer__cell.footer__cell_socials
				span.footer__socials-label Мы в социальных сетях
				.socials
					a.socials__item.social-link.social-link_yt(href="#" title="youtube") youtube
					a.socials__item.social-link.social-link_lj(href="#" title="livejournal") livejournal
					a.socials__item.social-link.social-link_fb(href="#" title="facebook") facebook
					a.socials__item.social-link.social-link_vk(href="#" title="вконтакте") вконтакте
					a.socials__item.social-link.social-link_tw(href="#" title="twitter") twitter
					a.socials__item.social-link.social-link_in(href="#" title="instagram") instagram