.header
	.wrapper
		.header__inner

			h1.header__logo.logo
				a(href="/").logo__link Новогор-Прикамье

			.header__links
				a(href="#404" title="Выход").logout-link
					span.link Выход

			.header__contacts
				.contact
					.contact__label Телефон контактного центра
					a(href="tel:88000000000").contact__link 8 (800) 000-00-00

