nav.menu
	.wrapper.menu__inner
		button.menu-link.menu__trigger.menu-trigger
			span.menu-trigger__icon
			span.menu-trigger__text Меню
		ul.menu__list.menu-list
			li.menu-list__item
				a(href="#").menu-list__link.menu-link Лицевые счета
			li.menu-list__item
				a(href="#").menu-list__link.menu-link Начисление и оплата
			li.menu-list__item
				a(href="#").menu-list__link.menu-link Приборы учета
			li.menu-list__item
				a(href="#").menu-list__link.menu-link Услуги компании
			li.menu-list__item
				a(href="#").menu-list__link.menu-link Настройки