.menu
	.wrapper.menu__inner
		button.menu-link.menu__trigger.menu-trigger
			span.menu-trigger__icon
			span.menu-trigger__text Меню
		ul.menu__list.menu-list
			li.menu-list__item
				a(href="#").menu-list__link.menu-link Лицевые счета
			li.menu-list__item
				a(href="#").menu-list__link.menu-link Начисление и оплата
			li.menu-list__item
				a(href="#").menu-list__link.menu-link Приборы учета
			li.menu-list__item
				a(href="#404").menu-list__link.menu-link Услуги компании
				ul.menu__list.menu-list
					li.menu-list__item
						a(href="#").menu-list__link.menu-link Заявка специалисту отдела сбыта
					li.menu-list__item
						a(href="#").menu-list__link.menu-link Заказ/покупка ИПУ
					li.menu-list__item
						a(href="#").menu-list__link.menu-link Заявка на установку ИПУ
					li.menu-list__item
						a(href="#").menu-list__link.menu-link Заявка на опломбировку ИПУ
					li.menu-list__item
						a(href="#").menu-list__link.menu-link Заявка на вывоз ЖБО
					li.menu-list__item
						a(href="#").menu-list__link.menu-link Заявка на услугу анализа воды
					li.menu-list__item
						a(href="#").menu-list__link.menu-link Заявка на другие платные услуги
					li.menu-list__item
						a(href="#").menu-list__link.menu-link Обращение
			li.menu-list__item
				a(href="#").menu-list__link.menu-link Настройки